---
layout: default
title: Domesticating Cats Collection
---
<div class="blurb">
	
	<h1>Domesticating Cats Cataloging Project</h1>
	<p>Welcome to the collection of domesticating cats resources!</p>
	<p>This virtual public collection serves everybody, from all ages and backgrounds. Children and adults looking to live, play, and/or learn about felines will find this collection particularly useful and fun. </p>
	</p>
	<p><a class="dwnld-btn" href="">Books + magazines</a></p>
	<p><a class="dwnld-btn" href="">Digital resources</a></p>
	<p><a class="dwnld-btn" href="">3D object</a></p>
	<p><a class="dwnld-btn" href="">Living things</a></p>
	<h3>Librarians' Recommendations</h3>
	<!-- feature 4 blog most recent blog posts onto homepage -->
			{% for post in site.posts %}
				{% if forloop.index < 9 %}
					<div style="width:45%;float:left;margins:auto;">
	<a href={{post.url}}><h3>{{ post.title }}</h3></a>
</div>
				{% endif %}
			{% endfor %}
<div style="clear:both;width=100%;height:50px;"></div>
</div><!-- /.blurb -->

