<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				    	<li><a href="/summary">Procedures + Policies</a></li>
		        		<li><a href="/issues">Cataloging Issues</a></li>
					<li><a href="/blog">Cata(b)log</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			{{ site.posts | sample }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto: cataloging@library.edu">email</a></li>
	        		<li><a href="https://github.com/michi-gato">github.com/michi-gato</a></li>
				</ul>
			</footer>
		</body>
	</html>
