<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!-- link to gif today 2018-02-01 but relink to About page when am something -->
				<li><a href="https://twitter.com/snewyuen">About</a></li>
	        		<!-- link to linkedin today 2018-02-01 but relink back to "/cv" when has better -->
				<li><a href="https://www.linkedin.com/in/srahnguyen/">CV</a></li>
	        		<!-- link to twitter today 2018-02-01 but relink back to "/blog" when starting to do real posts -->
				<li><a href="blog/index.html">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto: srah.nguyen@gmail.com">email</a></li>
	        		<li><a href="https://github.com/michi-gato">github.com/michi-gato</a></li>
				</ul>
			</footer>
		</body>
	</html>
